.profile__image-overlay {
  background-color: rgba(0, 0, 0);
  position: absolute;
  inset: 0;
  z-index: 2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0s 0.3s;
}

.profile__image:hover .profile__image-overlay {
  opacity: 0.8;
  transition: opacity 0.3s linear, visibility 0s;
  visibility: visible;
}
